mixin section-news()
  section.section.section-news#section-news
    .wrap__inner
      .center
        .section-title.maru-b.js-animate.js-animate--fadein-down.js-animate--active 最新消息
            //- .news#news-container
        .splide.slider-news.js-animate.js-animate--fadein-down.js-animate--active
          .splide__track
            ul.row.splide__list
              li.splide__slide
                a(href="https://bank.sinopac.com/sinopacBT/webevents/atm2023/index.html" alt="郵局x永豐優惠" target="blank")
                  img(src="images/banner_ATM.jpg" alt="郵局x永豐優惠")
              li.splide__slide
                a(href="https://www.youtube.com/shorts/Cs2piaEgLCY" alt="安心轉 轉安心" target="blank")
                  img(src="images/banner_safe-transfer.jpg" alt="安心轉 轉安心")
              li.splide__slide
                a(href="https://bank.sinopac.com/sinopacBT/webevents/2207palmvein/index.html" alt="永豐掌靜脈" target="blank")
                  img(src="images/banner_palmvein.jpg" alt="永豐掌靜脈")
              li.splide__slide
                a(href="https://bank.sinopac.com/sinopacBT/webevents/atmwithdrawal/" alt="外幣鈔能力" target="blank")
                  img(src="images/banner_atmwithdrawal.jpg" alt="外幣鈔能力")
