include component/_section-kv.pug
include component/_section-introduce.pug
include component/_section-activity.pug
include component/_section-news.pug
include component/_section-faq.pug
//- include component/_section-notice.pug