footer
  .fixedIcon__area
    a.fixedIcon__btn.l-open(href="#friendly" title="金融友善")
      img(src=root+'images/img_fix-icon.svg' alt="金融友善")
      img(src=root+'images/img_fix-icon--white.svg' alt="金融友善")
      span.maru-b 金融友善
      img.footer-arrow(src=root+'images/img_arrow_next.svg' alt="金融友善")
  .footer-content
    p ©版權所有 永豐銀行
      a.hidden-min(href='' target='_blank') 建議使用之瀏覽器
      span.hidden-min / 建議解析度1024*768
      a.hidden-min(href='https://bank.sinopac.com/MMA8/bank/service/service-index.html' target='_blank') 客服中心
      a.hidden-min(href='https://accessibility.sinopac.com/Bank/AccessibleEnvFrame.aspx?url=AccessibleEnv/index.html' target='_blank') 金融友善網

append lightbox
  include _lightbox.pug
